<div class="header-bar">
  <div class="header-inner">
    <div class="header-div"></div>
    <div class="header-icon">
      <img src="assets/icons8-rocket-league-80.png" alt="Rocket league icon" height="55px">
    </div>
    <div class="header-search">
      <input type="text" class="header-search-bar" placeholder="Search...">
    </div>
    <div class="header-div"></div>
    <div class="header-button">
      Forum
    </div>
    <div class="header-div"></div>
    <div class="header-button">
      Matches
    </div>
    <div class="header-div"></div>
    <div class="header-button">
      Events
    </div>
    <div class="header-div"></div>
    <div class="header-button">
      Rankings
    </div>
    <div class="header-div"></div>
    <div class="header-button">
      Stats
    </div>
    <div class="header-div"></div>
    <div class="header-spacer"></div>
    <div class="header-div"></div>
    <div class="header-button">
      Log in
    </div>
    <div class="header-div"></div>
  </div>
</div>
  <div class="section-container box-shadowed">
    <div class="col col-1">
      <div class="section thread-section">
        <div class="section-title">Stickied threads</div>
        <div class="entry-container box-shadowed">
          <div class="entry thread-entry first-entry-mod">Test thread 1</div>
          <div class="entry thread-entry">Test thread 2</div>
          <div class="entry thread-entry">Test thread 3</div>
        </div>

      </div>
      <div class="section thread-section">
        <div class="section-title">Recent threads</div>

        <div class="entry-container box-shadowed">
          <div class="entry thread-entry first-entry-mod">Test thread 1</div>
          <div class="entry thread-entry">Test thread 2</div>
          <div class="entry thread-entry">Test thread 3</div>
          <div class="entry thread-entry">Test thread 4</div>
          <div class="entry thread-entry">Test thread 5</div>
          <div class="entry thread-entry">Test thread 6</div>
        </div>

      </div>
    </div>
    <div class="col col-2">
      <div class="section main-section">

        <div class="entry-container box-shadowed">
          <div class="entry main-entry image-entry first-entry-mod"></div>
        </div>
      </div>
        <div class="section main-section">
          <div class="section-title">Date title</div>
          <div class="entry-container box-shadowed">
            <div class="entry main-entry first-entry-mod">article 1</div>
            <div class="entry main-entry">article 2</div>
            <div class="entry main-entry">article 3</div>
          </div>
        </div>
        <div class="section main-section">
          <div class="section-title">Date title</div>
          <div class="entry-container box-shadowed">
            <div class="entry main-entry first-entry-mod">article 1</div>
            <div class="entry main-entry">article 2</div>
            <div class="entry main-entry">article 3</div>
          </div>
        </div>
        <div class="section main-section">
          <div class="section-title">Date title</div>
          <div class="entry-container box-shadowed">
            <div class="entry main-entry first-entry-mod">article 1</div>
            <div class="entry main-entry">article 2</div>
            <div class="entry main-entry">article 3</div>
          </div>
        </div>
      </div>
    <div class="col col-3">
      <div class="section match-section">
        <div class="section-title">Upcoming matches</div>
        <div class="entry-container box-shadowed">
          <div class="entry match-entry first-entry-mod">Test match 1</div>
          <div class="entry match-entry">Test match 2</div>
          <div class="entry match-entry">Test match 3</div>
        </div>
      </div>
      <div class="section match-section">
        <div class="section-title">Finished matches</div>
        <div class="entry-container box-shadowed">
          <div class="entry match-entry first-entry-mod">Test match 1</div>
          <div class="entry match-entry">Test match 2</div>
          <div class="entry match-entry">Test match 3</div>
          <div class="entry match-entry">Test match 4</div>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="section event-section">
        <div class="section-title">Live events</div>
        <div class="entry-container box-shadowed">
        <div class="entry event-entry first-entry-mod">Test event 1</div>
        <div class="entry event-entry">Test event 2</div>
        </div>
      </div>
      <div class="section event-section">
        <div class="section-title">Ongoing events</div>
        <div class="entry-container box-shadowed">
        <div class="entry event-entry first-entry-mod">Test event 1</div>
        <div class="entry event-entry">Test event 2</div>
        </div>
      </div>
      <div class="section event-section">
        <div class="section-title">Upcoming events</div>
        <div class="entry-container box-shadowed">
        <div class="entry event-entry first-entry-mod">Test event 1</div>
        <div class="entry event-entry">Test event 2</div>
        </div>
      </div>
      <div class="section event-section">
        <div class="section-title">Completed events</div>
        <div class="entry-container box-shadowed">
        <div class="entry event-entry first-entry-mod">Test event 1</div>
        <div class="entry event-entry">Test event 2</div>
        </div>
      </div>
    </div>
  </div>
